<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjh.autotask.mapper.CronMapper">

    <resultMap id="BaseResultMap" type="com.xjh.autotask.domains.Cron">
        <!-- column是数据库表列名  property是实体类属性 -->
        <id column="id" jdbcType="INTEGER" property="cronId" />
        <result column="cron" jdbcType="VARCHAR" property="cron" />
    </resultMap>

    <select id="getCron" resultType="java.lang.String">
        select cron from cron
    </select>

</mapper>